nav { background: url(images/clouds.jpg) no-repeat; padding: 1em 0; } 
nav a { text-decoration: none; color: #fff; padding: 1em; 
font-family: Futura, Arial, sans-serif; 
text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6); } 
nav a:hover { background: rgba(0, 0, 0, 0.7); } 