img.tilt { 
width: 300px; height: 300px; float: left; 
-moz-transform-origin: right top; 
-o-transform-origin: right top; -ms-transform-origin: right top; 
-webkit-transform-origin: right top; transform-origin: right top; 
-moz-transform: rotate(−10deg); -o-transform: rotate(−10deg); 
-ms-transform: rotate(−10deg); -webkit-transform: rotate(−10deg); 
transform: rotate(−10deg); 
} 