img.tilt { 
width: 300px; height: 300px; float: left; 
-moz-transition: 2s; 
-webkit-transition: 2s; -o-transition: 2s; 
transition: 2s; } 
img.tilt:hover { 
-moz-transform: rotate(7.5deg); -o-transform: rotate(7.5deg); 
-ms-transform: rotate(7.5deg); -webkit-transform: rotate(7.5deg); 
transform: rotate(7.5deg); 
} 