#box { background: red; width: 100px; height: 100px; position: absolute; 
animation-name: lefttoright, toptobottom; 
animation-duration: 3s, 6s; 
animation-timing-function: ease-in, ease-in-out; 
animation-fill-mode: both; 
} 