figure { float: left; } 
figure, figure img { width: 500px; height: 333px; overflow: hidden; } 
figcaption { 
font-family: Baskerville, Garamond, "Times New Roman", serif; 
font-style: italic; background: rgba(0,0,0,0.4); font-size: 2rem; 
padding: 0.8rem; color: #fff;  position: relative;  bottom: 400px; 
} 
figure:hover figcaption { bottom: 340px; } 