figure#imagestrip figure figcaption { 
     position: absolute; background: rgba(0,0,0,0.4); 
color: #fff; width: 500px; padding: 8px; 
font-size: 18px; top: -42px; 
transition: 1s top linear; 
    } 
figure#imagestrip:hover { animation-play-state:paused; } 
figure#imagestrip figure:hover figcaption { top: 0; } 